@model IEnumerable<MoviesRecommandtions.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if (Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rating)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @for (int i = 0; i < item.Rating; i++)
                    {
                        <img srcset="/Images/Star.png" width="30px" height="30px" />
                    }
                </td>
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-list"></i></a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-pencil"></i></a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <h4 class="text-white-50">
        Ohh!! looks like we dont have any movies for our viewers, Lets add some movies to keep our users entertained.
    </h4>
}
